.cont {
    color: yellow;
}

.cont2 {
    color: red;
}

@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

html{
    font-family: 'Francois One', sans-serif;
}

body{
    margin: 0;
    display: flex;
    flex-flow: column;
    height: 50%;
    overflow-y: hidden;

}

.container1{
    background-color: #2b1d61;
}

.container2{
    background-color: #b3b3b3;
}

.root{ 
    height: 100vh;
}

i {
    color: white;
    text-decoration: none;
}

.title{
    display: grid;
    grid-template-rows: 40px 30px;
    grid-row: 1;
    grid-column: 2/5;
    font-size: 45px;
    font-weight: 700;
    padding-top: 30px;
}

.subtitle{
    padding-top: 12px;
    padding-left: 4px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(56, 56, 56);
}

.mainGrid1{
    z-index: 1;
    position: absolute;
    top: 70px;
    height: 100vh;
    width: 100vw;
    
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(7, 1fr);
    row-gap: 5px;
}

.mainGrid2{
    z-index: 1;
    position: absolute;
    top: 70px;
    height: 100vh;
    width: 100vw;
    
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(7, 1fr);
    row-gap: 5px;

}

.siteLogo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1;
}

.source{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 5;
}

@keyframes reveal {
    from {opacity: 0;}
    to {opacity: 1}
}

@keyframes conceal {
    from {opacity: 1;}
    to {opacity: 0}
}

.createSession{
    font-size: 19px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    grid-column: 2/7;
    grid-row: 4;
}

.publicSession{
    font-size: 19px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    grid-column: 2/7;
    grid-row: 5; 
}

.searchForSession{
    font-size: 19px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    grid-column: 2/7;
    grid-row: 6; 
}

.dealerPopupContainer1{
    z-index: 5;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
}

.dealerPopupContainer2{
    z-index: -1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
}

#dealerPopup{
    display: grid;
    grid-template-columns: 40px 1fr 1fr 40px;
    grid-template-rows:  repeat(6, 1fr);
}

.dealerPopup1{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 350px;
    opacity: 1;
    border-radius: 9px;
    transform: translate(-50%, -50%);
}

.dealerPopup2{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 350px;
    opacity: 0;
    border-radius: 9px;
    transform: translate(-50%, -50%);
}

.sessionPopupContainer1{
    z-index: 5;
    height: 100vh;
    width: 100vw;
    position:absolute;
    top: 0px;
}

.sessionPopupContainer2{
    z-index: -1;
    height: 100vh;
    width: 100vw;
    position:absolute;
    top: 0px;
}

#sessionPopup{
    display: grid;
    grid-template-columns: 40px 1fr 1fr 40px;
    grid-template-rows:  repeat(6, 1fr);
}

.sessionPopup1{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 350px;
    opacity: 1;
    border-radius: 9px;
    transform: translate(-50%, -50%);
}

.sessionPopup2{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 350px;
    opacity: 0;
    border-radius: 9px;
    transform: translate(-50%, -50%);
}

.playerNameText{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/4;
    grid-row: 2;
    color: white;
    font-size: 25px;
}

.playerCountContainer{
    color: white;
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    color: white;
    font-size: 32px;
    border-radius: 5px;
}

.playerCount{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 25px;
    grid-column: 2/4;
    grid-row: 3;
}

.arrowLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.arrowRight{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.confirm{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/4;
    grid-row: 5;
    font-size: 32px;
    border-radius: 5px;
}

.showPopup{
    z-index: 5;
    opacity: 1;
}

.blur{
    filter: blur(5px) brightness(70%);
    transition: filter 200ms;
}

.no-blur{
    transition: filter 200ms;
}

.loadingIconContainer{
    grid-row: 5;
    grid-column: 4;
    display: flex;
    justify-content: center;
    align-items: center;  
}

@media only screen and (min-width: 700px){
    
}