@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

html{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

body{
    margin: 0;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
    background-color: rgb(255, 244, 195);
}

#root{ 
    height: 100vh;
}

#container{
    height: 100%;
}

#headerBar{
    z-index: 3;
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 10% 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #ffc3d9;
    height: 70px;
    font-size: 22px;
    color: white;
    text-decoration: none;
}

#siteLogo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1;
}

#placeholderLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    color: black;
    font-size: 25px;
}

#help{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3; 
}

#settings{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 4;
}

#source{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 5;
}

i {
    color: white;
    text-decoration: none;
}

#dropdownHelp{
    z-index: 2;
    background-color: rgb(255, 244, 195);
    color: black;
    font-size: 20px;
    height: 0px;
    overflow: scroll;
    position: relative;
    top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 0;
    transition: opacity 0.5s;
}

#dropdownHelp.fade{
    opacity: 1;
}

#dropdownSettings{
    z-index: 2;
    background-color: rgb(255, 244, 195);
    color: white;
    font-size: 20px;
    height: 0px;
    overflow: scroll;
    position: relative;
    top: 70px;
    opacity: 0;
    transition: opacity 0.5s;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

#dropdownSettings.fade{
    opacity: 1;
}

#settingsChoices{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    row-gap: 5px;
}

.ddButton{
    background-color: #ffc3d9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

#volume{
    grid-column: 2/5;
    grid-row: 2;
}

#textSize{
    grid-column: 2/5;
    grid-row: 3;
}

#leaveSession{
    grid-column: 2/5;
    grid-row: 4;
}

@keyframes grow {
    0% {height: 0%;}
    100% {height: 100vh;}
}
@keyframes shrink {
    0% {height: 100vh;}
    100% {height: 0%;}
}

#mainGrid{
    z-index: 1;
    position: absolute;
    top: 70px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(7, 1fr);
    row-gap: 5px;
}

.mainButton{
    background-color: #ffc3d9;
    color: white;
    border-radius: 10px;
    grid-column: 2/7;
    display: flex;
    align-items: center;
    justify-content: center;
}

#createSession{
    grid-row: 4;
}

#publicSession{
    grid-row: 5;
}

#searchForSession{
    grid-row: 6;
}

#createSession, #publicSession, #searchForSession{
    color: black;
}

#createSession:hover, #publicSession:hover, #searchForSession:hover{
    background-color: white;
}



#title{
    display: grid;
    grid-template-rows: 40px 30px;
    grid-column: 1;
    grid-row: 1;
    grid-column: 2/5;
    font-size: 45px;
    font-weight: 700;
    padding-top: 30px;
}

#subtitle{
    padding-top: 12px;
    padding-left: 4px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(56, 56, 56);
}